@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #A4D0E8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* styles/globals.css */
.invoice-container {
  width: 148mm;
  height: 210mm;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media print {
  body * {
    visibility: hidden;
  }
  .invoice-container, .invoice-container * {
    visibility: visible;
  }
  .invoice-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 148mm;
    height: 210mm;
    box-shadow: none;
  }
}
#header {
 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header1 {
 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}